<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494696942035-t7af0qv756n0ljfj7td8rqnlbfs02jt1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494696942035-t7af0qv756n0ljfj7td8rqnlbfs02jt1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>544057525889-7ectlugp0ioopiil0024ksv78e6m1fsk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4eCxU0tyZr1qQGyPhDauZPitRaY3-IS4</string>
	<key>GCM_SENDER_ID</key>
	<string>494696942035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyAid</string>
	<key>PROJECT_ID</key>
	<string>study-aid-e3671</string>
	<key>STORAGE_BUCKET</key>
	<string>study-aid-e3671.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494696942035:ios:620d0f8158fe00d2fbc726</string>
</dict>
</plist>